.img_body         

{ 
  width: auto; 
  display: inline-block; 
  
} 
 
.card_position 
{ 
  padding: 5%; 
  
}  

.logopic 
{  
  padding-left: 45%;  
  padding-right: 30%;
  margin-bottom: auto; 
  margin-top: auto;
}   
.foot 
{ 
  text-align: center; 
  margin-top: auto;
}
